



<div class="row">
    <div class="offset-3"></div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="dblp">DBLP</label>
            <input id="dblp"
                   name="dblp"
                   type="text"
                   class="form-control"
                   placeholder="Enter a DBLP link"
                   value="{{fill_form.dblp}}">
        </div>
        <div class="offset-3"></div>
    </div>

    <div class="col-md-3">

        <div class="form-group">
            <label for="doi">DOI</label>
            <input id="doi"
                   name="doi"
                   type="text"
                   class="form-control"
                   placeholder="Enter a DOI link"
                   value="{{fill_form.doi}}">
        </div>
    </div>
</div>