
{{>message}}
<br>
<div class="container">
    {{>user/form/form_title form_title="Change Password"}}
    <br>
    <form method="post" action="/user/update/password">
        {{>user/form/input_id}}
        {{>user/form/input_password}}
        {{>user/form/input_password_confirm}}
        <br>
        {{>user/form/buttons confirm="Save" cancel="Cancel"}}
    </form>
</div>