
<div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
        <button class="btn btn-info pull-right"
                type="submit">
            <i class="fa fa-check"></i>
            <span> {{confirm}}</span>
        </button>

        <a href="/user">
            <button class="btn btn-danger pull-right"
                    type="button"
                    style="margin-right: 10px;">
                <i class="fa fa-remove"></i>
                <span> {{cancel}}</span>
            </button>
        </a>
    </div>
</div>