

<div class="row">
    <div class="offset-3"></div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input id="firstname"
                   name="firstname"
                   type="text"
                   class="form-control"
                   placeholder="Enter your first name"
                   value="{{fill_form.firstname}}">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input id="lastname"
                   name="lastname"
                   type="text"
                   class="form-control"
                   placeholder="Enter your last name"
                   value="{{fill_form.lastname}}">
        </div>
    </div>
</div>