
<!-- Confirm Password -->
<div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">

        <div class="form-group">
            <label for="password_confirm">Confirm password</label>
            <input id="password_confirm"
                   name="password_confirm"
                   type="password"
                   class="form-control"
                   placeholder="Confirm password">
        </div>
    </div>
</div>